*{
    margin: 0;
    padding: 0;
}

header {
	width:100%;
	overflow:hidden; 
	margin-bottom:20px;
}

.wrapper {
	width:90%;
	max-width:1000px; 
	margin:auto; 
	overflow:hidden; 
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

header .imagenprincipal {
	line-height:200px;
	float:left;
    width: 300px;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
    color:rgb(232, 65, 162);
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
    color: rgb(86, 243, 211);
    background-color: rgb(232, 65, 162);
	border-radius:50px;
}

.nombreBarra{
    display: inline-block;
    color:rgb(232, 65, 162);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 20px;
    padding: 10px;
}

.nombreBarra:hover{
    color: rgb(86, 243, 211);
    background-color: rgb(232, 65, 162);
    border-radius: 20px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.enlaceBarra{
    display: inline-block;
    color:rgb(232, 65, 162);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 15px 20px;
    padding: 10px;
}

.enlaceBarra:hover{
    color: rgb(86, 243, 211);
    background-color: rgb(232, 65, 162);
    border-radius: 20px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.colorBarra{
    background-color: rgb(70, 197, 216) !important;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.galeria{
    margin: 10px 20px;
    float: left;
    width: 350px;
    text-align: center;
    display: block;
}

.galeria img{
    width: 50%;
    height: auto;
    margin: 25px;
}

.foto:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.pie-pagina{
    background-color: aquamarine;
}

.pie{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.pie-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure img{
    width: 250px;
}

.pie-pagina h2{
    color: blueviolet;
    margin: 20px 0 0 0;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.box p{
    color:rgb(223, 42, 148);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px 20px 20px 0;
}

.pie-2{
    background-color: rgb(100, 224, 224);
    text-align: center;
}

@media (max-width: 768px) {
    .imagenprincipal{
        margin: 0 0 0 100px;
        width: 150px;
    }

    header nav a {
        display:inline-block;
        color:rgb(232, 65, 162);
        text-decoration:none;
        padding:10px 20px;
        line-height:normal;
        font-size:10px;
        font-weight:bold;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition:all 500ms ease;
    }

    .galeria img{
        width: 25%;
        height: auto;
        margin: 25px;
    }

    .pie{
        font-family:'Times New Roman', Times, serif;
        font-size: 10px;
        text-align: center;
        padding: 10px;
    }
    
    .box p{
        color:rgb(223, 42, 148);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 20px 20px 20px 0;
        font-size: 10px;
    }

    .box figure img{
        width: 150px;
    }

    .pie-pagina h2{
        color: blueviolet;
        margin: 20px 0 0 0;
        font-size: 10px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
}